VITE_SUPABASE_URL=https://ngzbanvlcppmbtmtfkpb.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5nemJhbnZsY3BwbWJ0bXRma3BiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDA3MjgsImV4cCI6MjA5NjA3NjcyOH0.A50nh9mRNkjIN3dqkxhfKzvkyUEbD4RLH7dux4pg29c
